<body style="background: #888888">
Do you wish to authorize the app <b>Frontend</b> to access your Photos.network?<br />
<br />
This application will be able to:<br />
<ul>
<li>Access all photos you own</li>
<li>Edit tags and meta data of your photos</li>
<li>Upload new photos to your storage</li>
</ul>
<br />
<br /><a href="{{ redirect_uri }}" type="submit">Sign In</a>
<br /><a href="#" type="submit">Cancel</a>
<br />
This application will not be able to:
<ul>
<li>See your password</li>
</ul>
<br />
You can revoke access to any application at any time from your Photos.network settings.
